@import '@esri/calcite-components/dist/calcite/calcite.css';
@import '@arcgis/core/assets/esri/themes/light/main.css';

#root,
html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.map-container {
	width: 100%; /* Full width */
	height: 100vh; /* Full viewport height */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff; /* Optional loading background */
}

.map-container > * {
	flex: 1; /* Ensures child map components stretch to fill the container */
}

body {
	--calcite-color-brand: #308e29;
	--calcite-color-brand-hover: #267121;
	--calcite-color-brand-press: #1d5519;
	--calcite-color-background: #faf3e3;
	--calcite-color-foreground-1: #fffaed;
	--calcite-color-foreground-2: #fae9c8;
	--calcite-color-foreground-3: #fce5b6;
	--calcite-color-foreground-current: #ebd09d;
	--calcite-color-info: #267121;
	--calcite-color-success: #308e29;
	--calcite-color-warning: #f1c21b;
	--calcite-color-danger: #d83020;
	--calcite-color-danger-hover: #a82b1e;
	--calcite-color-danger-press: #851012;
	--calcite-color-text-1: #3a3335;
	--calcite-color-text-2: #3d3638;
	--calcite-color-text-3: #463d40;
	--calcite-color-text-inverse: #ffffff;
	--calcite-color-text-link: #267121;
	--calcite-color-border-1: #e6ddd1;
	--calcite-color-border-2: #e8e1dc;
	--calcite-color-border-3: #e6ddd1;
	--calcite-color-border-input: #a1a19e;
}

:root {
	color: var(--calcite-color-text-1);
	background-color: var(--calcite-color-background);
}

.options-container calcite-button {
	margin: 1rem;
	width: 7rem;
}

.coordinates {
	margin-left: 1rem;
	margin-right: 1rem;
}

.action-label {
	margin: 1rem;
}
